// out: style.css, sourcemap: false, compress: true
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@color-white:#FFF;
@color-black:#000;
@color-font: #666;
@color-sub:#65C5E8;
@color-main:#6983D8;
@color-master:#6BACAA;
@color-line:@color-sub;

@layoutwidth:700px;
@sidebarwidth:250px;

//reset
body{font-family: 'Indie Flower','Noto Sans KR',sans-serif;}
body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{border:0; vertical-align: top;}
input{vertical-align: middle;}
a{
  text-decoration: none;
  color:@color-font;
}

//layout
#header{
    padding:20px 50px;

  text-align: center;
  background-color: @color-master;
  h1{
    font-size:30px;
    font-weight: 300;
    border-bottom:2px @color-white solid;
    padding-bottom:5px;
    display:inline-block;
    text-transform:uppercase;
    a{
      color:@color-white;
      span{
        font-size:12px;
        display:block;
      }
    }
  }
  .blogMenu{
      font-size:0;
      li{
          font-size:14px;
          margin:0 5px;
          display: inline-block;
          a{
             color:@color-white;

          }
      }
  }

}
#container{
    #sidebar{
        float: left;
        padding: 0 10px;
        width: @sidebarwidth;

        .blogImage {
      position: relative;
      text-align: center;
      img{
          border: 5px solid #2DBCFF;
          border-radius: 50%;
      }
  }
      h3{
          border-bottom: 2px solid @color-black;
      }
    }


    #content{
        width:@layoutwidth;
        float:left;
        margin: 0 30px 0 20px;
    }

    .sideright{
        width: @sidebarwidth;
        float: right;

        h3{
            border-bottom: 2px solid @color-black;
        }
        .adminMenu a{
            border: 1px solid #F00;
            border-radius: 5px;
            font-size: 20px;
        }
    }
  width: 1300px;
  margin:20px auto 0;


  .guestbook{
    h3{
        font-size: 24px;
        border-bottom: 2px @color-main;
    }
}
  .guestWrite{
      .guestwrap{
      border:1px @color-master solid;
      margin:0 20px;
      border-radius:3px;
      text-align:center;
      textarea{
        border: 0 none;
        width:98%;
        resize:none;
        vertical-align:top;
       }
      }
  }

  .entry{
    .titleWrap{
      margin-bottom:30px;
      h2 a{
        font-weight: 300;
        border-bottom:2px @color-main solid;
      }
    }
    .tagTrail{
      border-radius:3px;
      margin:35px 0 0;
      padding:10px 20px;
      position:relative;
      .tagText{
        margin-left:20px;
        position:absolute;
        left:0;
        top:-20px;
        height:30px;
        padding:0 15px;
        color:@color-black;
      }
      a{
       font-size:13px;
       color:@color-black;
       padding:0 20px;
      }
    }
    .comment{
      margin-top:30px;

      .commentList{
        li{
          margin:10px 0;
        }
        >ol>li{
          margin:30px 0;
          li{
            margin-left:68px;
          }
        }
        .image{
          display:block;
          width:50px;
          height:50px;
          border-radius:3px;
          border:3px @color-master solid;
          overflow:hidden;
          float:left;
          margin-right:10px;
          img{
            width:100%;
          }
        }
        .control{
            float:right;
            +p{

              overflow:hidden;
            }
            a{
            font-size: 12px;
            color: @color-black;
            background-color: @color-main;
            padding: 0 10px;
            border-radius: 5px;
            display: inline-block;
        }


        }

      }
      .textwrap{
        border: 1px solid @color-master;
        margin:0 20px;
        border-radius:3px;
        text-align:center;
        textarea{
          border: 0 none;
          width:98%;
          resize:none;
          vertical-align:top;
          height: 145px;
        }
      }
    }
    .paging{
      text-align:center;
      padding:20px 0;
      a{
        border:1px #2DBCFF solid;
        padding:0 5px;
        border-radius: 3px;
        font-size:12px;
      }
    }
  }

}
